body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
	margin: 20px;
}

a.navlink {
	color: steelblue;
	text-decoration: none;
}

a.navlink-active {
	color: gainsboro;
	cursor: default;
}

.timer {
	color: steelblue;
}

/*#time-change-btn {
	color: white;
	width: 30%;
	min-width: 200px;
	float: left;
}*/